<!-- One -->
<section id="one" class="wrapper style1 special">
    <div class="inner">
        <header class="major">
            <h2>About Willow Creek</h2>
            <p>Willow Creek Swim and Tennis Association is a family oriented community.  Our little piece of paradise actually covers two of Northwest Atlanta's premier counties, Cobb and Cherokee.  The Cobb County side, known as "Creekside," was the original neighborhood and was established in 1985.  The Cherokee County side, known as "Overlook," was later added due to overwhelming demand for expansion in 1987.  With just over 400 homes, 2 pools, 2 tennis courts, and a playground, Willow Creek has a little something for families of all sizes. Welcome to our family!</p>
        </header>
    </div>
</section>